<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-light bg-light">
      <div class = "navbar-header">
        <%= link_to home_path do %>
          <%= fa_icon "home", size: '3x', id: "home-icon" %>
        <% end %>
      </div>
    
      <h2>Professional Brotherhood of Engineers</h2>
    
      <div class = "navbar-nav navbar-right">
        <%= link_to "Sign Up", new_user_path, :class => "btn btn-lg" %>
      </div>
    </nav>
  </head>

  <body>
    
    <h1>Login</h1>

    <%= form_tag '/login' do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= submit_tag "Login" %>
    <%end%>

  </body>

</html>