<table summary="Event table">
    <tr class="header">
        <th class="edit-points__column">Title</th>
        <th class="edit-points__column">Date</th>
        <th class="edit-points__column">Mandatory</th>
        <th class="edit-points__column">Points</th>
    </tr>
</table>
<% @events.each do |event| %>
<%= form_for event, url: { :controller=> 'memberlist', :action=> 'update_event_points'}, html: { method:'put' } do |f| %>
<%= f.hidden_field :saved_event_id, value: event.id %>
<div>
    <%= f.label event.title, :class => 'edit-points__column' %>
    <%= f.label event.date, :class => 'edit-points__column' %>
    <%= f.label event.mandatory, :class => 'edit-points__column' %>
    <div style="display: inline-block">
        <%= f.text_field :event_points, value: event.points, :style => 'width: 96px; display: inline-block', :class => 'text-field' %>
        <%= f.submit "Save", data: { disable_with: false }, :style => 'width: 50px; display: inline-block', :class => '"btn btn-primary"' %>
    </div>
</div>
<% end %>
<% end %>