<h1>Professional Brotherhood of Engineers</h1>
<%= link_to("Home", home_path) %><br>
<br>
<h2>User List</h2>

<table summary="User detail view">
    <tr class="header">
      <th>Name</th>
      <th>Points</th>
      <th>Role</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.firstName %><%= user.lastName%></td>
      <td><%= user.points %></td>
      <td><%= user.role %></td>
    </tr>
    <% end %>
</table>