<!DOCTYPE html>
<html>
    <head>
        <nav class="navbar navbar-light bg-light">
        <%= link_to home_path do %>
            <%= fa_icon "home", size: '3x', id: "home-icon" %>
        <% end %>

        <h1>Professional Brotherhood of Engineers</h1>
        <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-lg" %>

        </nav>
    </head>

    <h2 class = "bottom-space">Editing</h2>

    <%= simple_form_for @user do |f|%>
        <table class="login-form-spacing">
            <tr>
            <th>Email:</th>
            <td><%= f.text_field :email, placeholder: 'Email'%></td>
            </tr>
            <tr>
            <th>First Name:</th>
            <td><%= f.text_field :firstName, placeholder: 'First Name'%></td>
            </tr>
            <tr>
            <th>Last Name:</th>
            <td><%= f.text_field :lastName, placeholder: 'Last Name'%></td>
            </tr>
            <tr>
            <th>Role:</th>
            <td><%= f.select :role, ['member', 'admin'] %></td>
            </tr>
        </table>
    <%= f.submit %>
  <%end%>

</html>