<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-light bg-light">
      <div class = "navbar-header">
        <%= link_to home_path do %>
          <%= fa_icon "home", size: '3x', id: "home-icon" %>
        <% end %>
      </div>

      <h1>Professional Brotherhood of Engineers</h1>

      <div class = "navbar-nav navbar-right">
        <%= button_to "Login", login_path, method: "get", :class => "btn btn-lg" %>
      </div>
    </nav>
  </head>

  <h2 class = "bottom-space">Sign Up</h2>
  
  <%= simple_form_for @user do |f|%>
    <table class="login-form-spacing">
        <tr>
          <th>Email:</th>
          <td><%= f.text_field :email%></td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td><%= f.text_field :firstName%></td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td><%= f.text_field :lastName%></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td><%= f.password_field :password%></td>
        </tr>
    </table>
    <%= f.submit %>
  <%end%>

  <%= link_to "Log In", login_path %><br>

  <footer>
    <p>Get in Contact with the Org!</p>
    <p><a href="mailto:tylerg3@tamu.edu">tylerg3@tamu.edu</a></p>
  </footer>


</html>
