<!DOCTYPE html>
<html>
  <head>
    <% content_for :title, "PBE Member Profile" %>
    <nav class="navbar navbar-light bg-light">
      <ul class = "navbar-nav navbar">
      </ul>
      <h3>Professional Brotherhood of Engineers</h1>

      <div class = "navbar-nav navbar-right">
        <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-primary" %>
      </div>
    </nav>
  </head>

  <body>
 <%if @user.nil?%>
  <h2><%= current_user.firstName %> <%= current_user.lastName %>, <% if current_user.role?%>
        <%=current_user.role %>
    <%else%>
      <%="member"%>
    <%end%></h2>
    <p class="standing" id="standing"></p>

    <table summary="User detail view">
        <tr>
          <th class="indextable">Current Points</th>
          <td class="indextable"><% if current_user.points?%>
                <%=current_user.points %>
            <%else%>
              <%=0%>
            <%end%></td>
        </tr>
        <tr class="indextable">
          <th class="indextable">Percent Attendance</th>
          <td  class="indextable" id="percentAttendance"></td>
        </tr>
        <tr class="indextable">
          <th class="indextable">Membership Eligibility</th>
          <td class="indextable" id="membershipEligibility"></td>
        </tr>
        <tr>
          <th class="indextable">Officer Eligibility</th>
          <td class="indextable" id="officerEligibility"></td>
        </tr>
    </table>
  <%else%>
    <h2><%= @user.firstName %> <%= @user.lastName %>, <%= @user.role %></h2>
    <p class="standing" id="standing"></p>

    <table summary="User detail view">
        <tr>
          <th class="indextable">Current Points</th>
          <td class="indextable"><% if @user.points?%>
                <%=@user.points %>
            <%else%>
              <%=0%>
            <%end%></td>
        </tr>
        <tr>
          <th class="indextable">Percent Attendance</th>
          <td class="indextable" id="percentAttendance"></td>
        </tr>
        <tr>
          <th class="indextable">Membership Eligibility</th>
          <td class="indextable" id="membershipEligibility"></td>
        </tr>
        <tr>
          <th class="indextable">Officer Eligibility</th>
          <td class="indextable" id="officerEligibility"></td>
        </tr>
    </table>
  <%end%>

    <div id="links">
      <%= button_to "View My Events", "#", :method => "get", :class => "btn btn-primary" %><br>
      <% if is_admin?%>
        <%= button_to "View All Users", memberlist_path, :method => "get", :class => "btn btn-primary" %>
      <% end %>
    </div>

  </body>
</html>
