<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-light bg-light">
      <div class = "navbar-header">
        <%= link_to home_path do %>
          <%= fa_icon "home", size: '3x', id: "home-icon" %>
        <% end %>
      </div>

      <h1>Professional Brotherhood of Engineers</h1>

      <div class = "navbar-nav navbar-right">
        <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-lg" %>
      </div>
    </nav>
  </head>

  <body>
    
    <h2><%= current_user.firstName %> <%= current_user.lastName %>, <%= current_user.role %></h2>

    <table summary="User detail view">
        <tr>
          <th>Current Points</th>
          <td><%= current_user.points %></td>
        </tr>
        <tr>
          <th>Percent Attendance</th>
          <td id="percentAttendance"></td>
		  <script> 
		  function percentAttendance(){
			var testEventsAttended = 10; 
			var testEventsTotal = 15; 
			//var i = current_user.eventsAttended / eventsTotal; replace this with the var i line below
			var i = testEventsAttended / testEventsTotal; 
			document.getElementById("percentAttendance").innerHTML = parseFloat(i*100).toFixed(2) + "%"; 
		  }
		  percentAttendance();
	  </script>
        </tr>
        <tr>
          <th>Membership Eligibility</th>
          <td>To be calculated later</td>
        </tr>
        <tr>
          <th>Officer Eligibility</th>
          <td>To be calculated later</td>
        </tr>
    </table>

    <div id="links">
      <%= button_to "View My Events", "#", :method => "get", :class => "btn btn-lg btn-primary" %><br>
      <% if is_admin? %>
        <%= button_to "View All Users", memberlist_path, :method => "get", :class => "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </body>

</html>
