<!DOCTYPE html>
<html>

<head>
    <% content_for :title, "PBE Member Profile" %>
    <nav class="navbar navbar-light bg-light">
        <ul class="navbar-nav navbar"></ul>

        <h3>Professional Brotherhood of Engineers</h3>

        <div class="navbar-nav navbar-right">
            <%= button_to "Logout", logout_path, method: "delete", :class => "btn btn-primary" %>
        </div>
    </nav>
</head>

<body>
    <h2><%= @user.firstName %> <%= @user.lastName %> | <%= @user.role.capitalize %></h2>
    <% if current_user.id == @user.id %>
    <p class="standing"><%= (user_events(@user.id).count.to_f / mandatory_events.count.to_f) >= 0.5 ? "You are in good standing!" : "" %></p>
    <% end %>

    <table summary="User detail view">
        <tr>
            <th class="indextable">Current Points</th>
            <td class="indextable"><%= user_events(@user.id).sum(&:points) %></td>
        </tr>
        <tr>
            <th class="indextable">Percent Attendance</th>
            <td class="indextable"><%=((user_events(@user.id).count.to_f / mandatory_events.count.to_f) * 100).round%>%</td>
        </tr>
        <tr>
            <th class="indextable">Membership Eligibility</th>
            <td class="indextable"><%=(user_events(@user.id).count.to_f / mandatory_events.count.to_f) >= 0.5 ? "Eligible" : "Not eligible"%></td>
        </tr>
        <tr>
            <th class="indextable">Officer Eligibility</th>
            <td class="indextable"><%=(user_events(@user.id).count.to_f / mandatory_events.count.to_f) >= 0.8 ? "Eligible" : "Not eligible"%></td>
        </tr>
    </table>

    <div id="links">
        <% if is_admin?%>
        <%= button_to "View All Users", memberlist_path, :method => "get", :class => "btn btn-primary" %>
        <% end %>
    </div>

    <h3>Event Participation</h3>
    <table summary="Event view">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        <% user_events(@user.id).each do |event| %>
        <tr>
            <td><%= event.title %></td>
            <td><%= event.description %></td>
            <td><%= event.date %></td>
        </tr>
        <% end %>
    </table>

</body>

</html>