<!DOCTYPE html>
<html>
  <head>
    <title>PBE: Member Point Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p id="footer-text">Get in contact with the Brotherhood! <a href="mailto:tylerg3@tamu.edu">tylerg3@tamu.edu</a></p>
  </footer>
</html>
